
/*Estilos generales*/

body{
    margin:auto;
    max-width: 90%;
    background-color: rgb(247, 244, 200);
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    
}
h1{
margin-bottom: 30px;
}

header{
    font-size: 3em;
    text-align: center;
}

p{
font-family:'Times New Roman', Times, serif;
 font-variant-ligatures: common-ligatures;
 font-stretch: condensed;
 font-size: 1em;
}

figcaption{
    font-size: 0.85em;
    font-style:oblique;
}


/* ESTILOS PARA EL TITULAR*/
.container_top_story{
    margin: auto;
}
.title_top_story{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 5px;

}
.title_top_story_body{
    columns: 2;
    height: auto;
    padding: 30px;
}
.subtitle_top_story{
    font-size: 1.75em;
    font-style: oblique;
    margin-top: 0%;
}
.container_top_story>p{
    font-size: 1.1em;
}


.container_top_story>figure{
    margin: 0;
    width:100%;
}
.container_top_story>figure>img{
    margin: 0;
    width:100%;
}

.container_top_story>figure>img{
    display: block;
    width: 120%;
    height: 100%
}
/* ESTILOS PARA NEWS*/ 
.news_body{
    columns: 6;
    column-gap: normal;
    margin: 25px;
}
.new>figure{
    margin: 0;
    width:100%;
    /*overflow:hidden*/
}

.new>figure>img{
    display: block;
    width: 100%;
    height: 100%
}
.quote{
    font-style: oblique;
}
