body{
    background-color: darkgrey;
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}

header{
    font-size: 3em;
    text-align: center;
}

p{
 font-variant-ligatures: common-ligatures;
 font-stretch: condensed;


}
/* ESTILOS PARA EL TITULAR*/
.container_top_story{
    margin: auto;
}
.title_top_story{
    text-align: center;
    font-size: 2.5em;

}
.title_top_story_body{
    columns: 2;
    height: auto;
    padding: 30px;
}
.subtitle_top_story{
    font-size: 1.75em;
    font-style: oblique;
    margin-top: 0%;
}

.container_top_story>figure{
    margin: 0;
    width:100%;
}
.container_top_story>figure>img{
    margin: 0;
    width:100%;
}

.container_top_story>figure>img{
    display: block;
    width: 120%;
    height: 100%
}
/* ESTILOS PARA NEWS*/ 
.news_body{
    columns: 6;
    column-gap: normal;
    margin: 25px;
}
.new>figure{
    margin: 0;
    width:100%;
    /*overflow:hidden*/
}

.new>figure>img{
    display: block;
    width: 100%;
    height: 100%
}